In [2]:
import pandas as pd

In [40]:
prices = pd.read_excel('PX_LAST_Static.xlsx', index_col=0)
mcap = pd.read_excel('CUR_MKT_CAP_Static.xlsx', index_col=0)

In [6]:
prices.shape, mcap.shape

((2536, 153), (2536, 153))

In [ ]:
top_indian_tickers_by_sector = {
    "Utilities": ["NTPC", "PWGR"],
    "Technology": ["TCS", "WPRO"],
    "Real Estate": ["DLFU", "GCPL"],
    "Industrials": ["LT", "SIEM"],
    "Healthcare": ["SUNP", "CIPLA"],
    "Financial Services": ["HDFCB", "ICICIBC"],
    "Energy": ["RELIANCE", "ONGC"],
    "Consumer Defensive": ["HUVR", "ITC"],
    "Communication Services": ["BHARTI", "IDEA"],
    "Basic Materials": ["SAIL", "HNDL"]
}

In [52]:
required_tickers = []
for sector in top_indian_tickers_by_sector:
    tickers = top_indian_tickers_by_sector[sector]
    for ticker in tickers:
        if ticker + " IS Equity" in prices.columns:
            required_tickers.append(ticker + " IS Equity")

print(len(required_tickers))

20

In [53]:
# get mcap and price data for required tickers
mcap = mcap[required_tickers]
prices = prices[required_tickers]

In [54]:
mcap.shape, prices.shape

((2536, 20), (2536, 20))

In [57]:
# rename columns to remove " IS Equity" suffix
mcap.columns = [col.replace(" IS Equity", "") for col in mcap.columns]
prices.columns = [col.replace(" IS Equity", "") for col in prices.columns]

In [58]:
mcap.shape, prices.shape

((2536, 20), (2536, 20))

In [62]:
# remove last row of mcap and prices
mcap = mcap.iloc[:-1]
prices = prices.iloc[:-1]

In [63]:
# save the dataframes to csv files
mcap.to_csv('mcap.csv')
prices.to_csv('prices.csv')

In [2]:
# check the saved files
import pandas as pd
mcap_check = pd.read_csv('mcap.csv', index_col=0)
prices_check = pd.read_csv('prices.csv', index_col=0)

In [6]:
prices_check.head()

,NTPC,PWGR,TCS,WPRO,DLFU,GCPL,LT,SIEM,SUNP,CIPLA,HDFCB,ICICIBC,RELIANCE,ONGC,HUVR,ITC,BHARTI,IDEA,SAIL,HNDL
Date,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,118.71,77.12,1272.78,103.58,137.40,321.97,1001.97,906.70,822.20,628.40,476.03,320.27,200.33,229.37,758.45,231.55,327.07,96.25,82.75,158.45
2015-01-02 00:00:00,120.33,78.05,1289.72,104.49,139.20,323.37,1023.10,914.35,826.25,630.15,482.65,329.36,199.80,232.80,755.95,232.28,329.00,96.58,82.85,160.10
2015-01-05 00:00:00,120.00,78.13,1270.13,104.68,135.80,323.48,1037.33,918.65,826.75,633.00,478.58,330.05,197.61,235.43,760.30,233.19,321.70,92.74,82.70,156.85
2015-01-06 00:00:00,116.00,76.39,1223.30,102.23,133.65,317.33,1002.73,895.70,808.55,614.35,471.13,316.05,188.64,222.10,774.70,227.20,319.18,90.90,78.65,153.40
2015-01-07 00:00:00,118.79,77.48,1208.85,101.46,134.60,320.05,1000.33,899.20,809.80,611.95,472.50,307.50,192.75,225.37,801.90,222.98,319.95,90.45,77.80,148.90

In [ ]:
stocks = pd.read_csv('prices.csv', index_col=0)
stocks.index = pd.to_datetime(stocks.index)
stocks.head()

,NTPC,PWGR,TCS,WPRO,DLFU,GCPL,LT,SIEM,SUNP,CIPLA,HDFCB,ICICIBC,RELIANCE,ONGC,HUVR,ITC,BHARTI,IDEA,SAIL,HNDL
Date,,,,,,,,,,,,,,,,,,,,
2015-01-01,118.71,77.12,1272.78,103.58,137.40,321.97,1001.97,906.70,822.20,628.40,476.03,320.27,200.33,229.37,758.45,231.55,327.07,96.25,82.75,158.45
2015-01-02,120.33,78.05,1289.72,104.49,139.20,323.37,1023.10,914.35,826.25,630.15,482.65,329.36,199.80,232.80,755.95,232.28,329.00,96.58,82.85,160.10
2015-01-05,120.00,78.13,1270.13,104.68,135.80,323.48,1037.33,918.65,826.75,633.00,478.58,330.05,197.61,235.43,760.30,233.19,321.70,92.74,82.70,156.85
2015-01-06,116.00,76.39,1223.30,102.23,133.65,317.33,1002.73,895.70,808.55,614.35,471.13,316.05,188.64,222.10,774.70,227.20,319.18,90.90,78.65,153.40
2015-01-07,118.79,77.48,1208.85,101.46,134.60,320.05,1000.33,899.20,809.80,611.95,472.50,307.50,192.75,225.37,801.90,222.98,319.95,90.45,77.80,148.90

In [11]:
# type of index
type(stocks.index)
# convert the index to datetime
# stocks.index = pd.to_datetime(stocks.index, format='%Y-%m-%d')

pandas.core.indexes.datetimes.DatetimeIndex

In [12]:
# chech na values in the dataframe
stocks.isna().sum()

NTPC        0
PWGR        0
TCS         0
WPRO        0
DLFU        0
GCPL        0
LT          0
SIEM        0
SUNP        0
CIPLA       0
HDFCB       0
ICICIBC     0
RELIANCE    0
ONGC        0
HUVR        0
ITC         0
BHARTI      0
IDEA        0
SAIL        0
HNDL        0
dtype: int64